.label {font-size:.9em; line-height: 1.6em; display: inline-block; padding: 0 .5em; cursor: default;
    border: 1px solid; margin:0 .5em;background: @gray-light;color:@light;}
.label:first-child{margin-left:0;}
.label-list{white-space: normal;}
.label-list .label {margin: 0 .6em .6em 0;}
.label.label-primary{ background: @primary;}
.label.label-success{ background: @success;}
.label.label-info{ background:@info;}
.label.label-warning{ background:@warning;}
.label.label-danger{ background:@danger;}
