.wrap { width: @view-width; margin-right: auto; margin-left: auto;}
.fix { *zoom: 1; *clear: both;}
.fix:before, .fix:after { display: table; clear: both; content: '';}
.oh { overflow: hidden; *zoom: 1;}
.l { float: left;}.r { float: right;}
.dib { display: inline-block; *display: inline; *zoom: 1;}
.pr { position: relative;}.pa { position: absolute;}
.tl{text-align: left;}.tc { text-align: center;}.tr { text-align: right;}
.el { overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.justify{text-align: justify !important;overflow: hidden;}
.justify:after{content: " 1111111111"}
.hide { display: none;}
.hidetext { font: 0/0 a; letter-spacing: -9px;}
.arr { display: inline-block; overflow: hidden; width: 0; height: 0;}
.opc0 { opacity: 0 ; filter: alpha(opacity=0);}
/* 等比填充 */
*[class*="rect-"]{position: relative;display: block; width: 100%;height: 0;overflow: hidden;}
*[class*="rect-"] ._full{position: absolute;left: 0;top:0;width: 100%;height: 100%;
*height: auto;}
.rect-4854{padding-bottom: 48.54%;}
.rect-50{padding-bottom: 50%;}
.rect-5625{padding-bottom: 56.25%;}
.rect-60{padding-bottom: 60%;}
.rect-618{padding-bottom: 61.8%;}
.rect-70{padding-bottom: 70%;}
.rect-75{padding-bottom: 75%;}
.rect-80{padding-bottom: 80%;}
.rect-90{padding-bottom: 90%;}
.rect-100{padding-bottom: 100%;}
/* 内外边距 */
.m{margin:@space;}
.m-0{margin:0;}
.m-l{margin-left: @space;}
.m-t{margin-top: @space;}
.m-r{margin-right: @space;}
.m-b{margin-bottom: @space;}
.m-lr{margin-left: @space;margin-right: @space;}
.m-tb{margin-top: @space;margin-bottom: @space;}
.m-sm{margin:@space-sm;}
.m-l-sm{margin-left: @space-sm;}
.m-t-sm{margin-top: @space-sm;}
.m-r-sm{margin-right: @space-sm;}
.m-b-sm{margin-bottom: @space-sm;}
.m-lr-sm{margin-left: @space-sm;margin-right: @space-sm;}
.m-tb-sm{margin-top: @space-sm;margin-bottom: @space-sm;}
.m-lg{margin: @space-lg;}
.m-l-lg{margin-left: @space-lg;}
.m-t-lg{margin-top: @space-lg;}
.m-r-lg{margin-right: @space-lg;}
.m-b-lg{margin-bottom: @space-lg;}
.m-lr-lg{margin-left: @space-lg;margin-right: @space-lg;}
.m-tb-lg{margin-top: @space-lg;margin-bottom: @space-lg;}
.p{padding:@space;}
.p-0{padding:0;}
.p-l{padding-left: @space;}
.p-t{padding-top: @space;}
.p-r{padding-right: @space;}
.p-b{padding-bottom: @space;}
.p-lr{padding-left: @space;padding-right: @space;}
.p-tb{padding-top: @space;padding-bottom: @space;}
.p-sm{padding:@space-sm;}
.p-l-sm{padding-left: @space-sm;}
.p-t-sm{padding-top: @space-sm;}
.p-r-sm{padding-right: @space-sm;}
.p-b-sm{padding-bottom: @space-sm;}
.p-lr-sm{padding-left: @space-sm;padding-right: @space-sm;}
.p-tb-sm{padding-top: @space-sm;padding-bottom: @space-sm;}
.p-lg{padding: @space-lg;}
.p-l-lg{padding-left: @space-lg;}
.p-t-lg{padding-top: @space-lg;}
.p-r-lg{padding-right: @space-lg;}
.p-b-lg{margin-bottom: @space-lg;}
.p-lr-lg{margin-left: @space-lg;margin-right: @space-lg;}
.p-tb-lg{margin-top: @space-lg;margin-bottom: @space-lg;}
